
p{
    text-align: justify;
}

.container{
    background-color: rgb(234, 241, 241);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
   
}
form{
    margin-top: 50px;
    background-color: aquamarine;
}
